[user]
	name = tolluset
	email = dlqud19@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[alias]
	s = status
	a = add
	au = add -u
	aup = add -u -p
	ap = add -p
	anp = !git add -N . &&  git add -p 
	b = branch
	c = commit
	ca = commit --amend
	cm = commit -m
	d = diff
	ds = diff --staged
	l = log
	lm = log --merges
	la = log --all
	cob = checkout -b
	co = checkout
	com = checkout main
	sw = switch
	swc = switch -c
	swm = switch main
	sb = switch -
	reh = reset head^
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rbom = rebase origin/main
        sbu = submodule update --init
	sbur = submodule update --remote
	cp = cherry-pick
	cpc = cherry-pick --continue
	rs = restore
	rss = restore --staged
	ig = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	fa = fetch --all
	fp = !git fetch --all -p && git pull -p
	pp = pull -p
	rv = remote -v
	rao = remote add origin
  	rpo = remote prune origin
  	pn = !git branch | grep -v \\* | egrep -v '\\bmain|\\bkeep' | xargs git branch -D
	ac = !git add . && git commit -am
	st = stash
	stpo = stash pop
	stpu = stash push
	stc = stash clear
	psoh = push origin HEAD
	diff-image = "!f() { cd -- \"${GIT_PREFIX:-.}\"; GIT_DIFF_IMAGE_ENABLED=1 git diff \"$@\"; }; f"
[commit]
	template = ~/.gitmessage.md
[pull]
	rebase = false
[core]
  attributesfile = ~/.gitattributes
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
  navigate = true
  light = false
  plus-color = "#012800"
	minus-color = "#340001"
  syntax-theme = Monokai Extended
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[diff "image"]
	command = ~/git-diff-image/git_diff_image
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
